.input-text-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-text {
  background: #f4f4f8;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
}

.input-text::placeholder {
  text-align: center;
}

.input-text:focus {
  outline: none;
}